h1{
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 120%;
}
#l1:link{
   color:blueviolet;
}
#l1:visited{
    color:maroon;
}
#l2{
    color:aqua;
}
#l2:visited{
    color:aquamarine;
}
#l3{
    color:darkgreen;
}
#l3:visited{
    color:greenyellow;
}
#l4{
    color:cornflowerblue;
}
#l4:visited{
    color:black;
}
li{
    list-style: none;
}
a:link a:visited{
    text-decoration: none;
}
ul{
    display: flex;
    padding: 5px;
    width: 100%;
}
li{
    margin:5px;
    border:1px solid black;
    text-align: center;
    background-color:rgb(140, 140, 212);
}
@media(min-width:992px){
li{
    flex: 1;
}    
}
@media(min-width:768px) and (max-width:991.99px){
ul{
    flex-flow: row wrap;
}
li{
    flex: 40%;
}
}
@media(max-width:767.99px){
ul{
    flex-direction: column;
}
li{
    width: 100%;
    margin: 5px;

}
}